.container {
    background-color: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    margin: 4em 2em;
    padding: 2em;
}

.container.sidebar-left .site-content main {
    order: 2;
}

.container.sidebar-left .site-content aside {
    order: 1;
}

.layout-item {
    border: 1px solid #666;
    border-radius: 0.3em;
    padding: 2em;
}

.site-content {
    display: flex;
    margin: 1em 0;
    gap: 1em;
}

.site-content main {
    flex-grow: 3;
}

.site-content aside {
    flex-grow: 1;
}

