@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 1em/1.3em 'Inter', sans-serif;
}

body {
    background-image: url(./image/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

span {
    font-size: 3em;
    font-weight: bold;
}

.site-container {
    display: flex;
    gap: 1.5em;
    margin: 0 auto;
    align-items: center;
}


.section {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 0.1em;
}

.section .first-plan {
    margin: 0;
    position: relative;
}

.section h1 {
    text-transform: uppercase;
    padding-bottom: 2.5em;
}

.section .price {
    font-size: 1.4rem;
    padding-bottom: 2em;
}

.section .benefits p{
    line-height: 2rem;
}

.section .benefits p:nth-last-child(1) {
    padding-bottom: 2.5em;
}

.section > p:nth-of-type(2) {
    padding-bottom: 2em;
    color: #667283;
    font-size: 0.8rem;
}

.section .button button{
    text-align: center;
    padding: 1.2em 3em;
    border-radius: 0.2em;
    background-color: #000000;
    color: #ffffff;
}



