@media (max-width: 600px) {
    
    .home-text {
        display: none;
    }

    .home-tab-selector-cards-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .portofolio-card-speaker-card {
        width: 100%;
        
    }

    .home-about,
    .home-process,
    .section-container {
        padding-top: 3em;
    }

    .home-image-container {
        display: none;
    }

    .home-top-part {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .home-step .home-text10{
        margin-right: 0.5em;
    }

    .home-links-container{
        flex-direction: column;
    }

    .home-subscribe-container .button-primary {
        padding: 1em;
    }

    .home-product-container  span:last-child {
        margin-bottom: 2em;
    }

    .navigation-header .navigation-max-width .navigation-nav {
        display: none;
    }
    
}