@media (width <= 600px) {
    
    .home-navbar-container .home-cta-container {
        margin-left: 1.5em;
    }

    .home-cta-btn {
        border-radius: 10em;
    }

    .home-hero-text-container {
        order: 1;
        margin-left: 0;
    }

    .home-hero {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .home-hero-text-container {
        width: 100%;

    }

    .home-image1 {
        width: 100%;
        display: block;
    }

    .home-cta-btn2 {
        display: block;
        margin: 0 auto;
    }

    .home-text03 {
        width: 500px;
    }

    .home-text04 {
        width: 500px
    }

    .home-cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .home-feature-card, .home-feature-card1, .home-feature-card2 {
        width: 100%;
    }

    .home-cards-container span {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    

    .home-stats {
        padding-top: 50em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}


