body {
    font-family: Georgia, sans-serif;
    font-size: 1.2em;
    background-color: rgb(238, 238, 238);
}

.card {
    width: 30em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #030101;
    margin-bottom: 20em;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 10px 10px rgba(146, 138, 138, 0.5);
    border-radius: 10px;
}

.card-image img{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.card-content {
    padding: 20px;
    line-height: 28px;
    padding-top: 10px;
    position: relative;
}

.card-content p {
    margin-top: -10px;
}

.card-content a {
    background-color: rgb(34, 156, 115);
    padding: 12px;
    font-size: 1.2em;
    margin-left: 17em;
    margin-bottom: em;
    text-decoration: none;
    color: azure;
    background-color: rgb(0, 153, 0) 
}

